* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    color: #fbea17;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}
  
.container {
    background: #257128;
    margin: 50px;
    padding: 50px;
    /* width: 500px;
    height: 500px; */
    border-radius: 25px;
}

.title{
    text-align: center;
}

.title span {
    color: #e6e0cc;
  }
  
.status-action {
    margin-top: 50px;
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}
  
.status span {
    color: #F2EBD3;
}
  
.reset {
    cursor: pointer;
}
  
.reset:hover {
    color: #F2EBD3;
}
  
.game-grid{
    background: #7cc153;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:200px;
    background: #257128;
    cursor: pointer;
}

.x,.o{
    cursor: default;
}

.x::after{
    color:aliceblue;
    content: '×';
    font-size: 200px;
    margin-left: 15px;
}

.o::after{
    color: #fbea17;
    content: '○';
    margin-bottom:  20px ; 
    margin-left: 15px;
    font-size: 230px;
}


.won::after {
    color: #e06b05;
  }

@media only screen and (max-width: 1024px) {
.game-grid {
    margin-top: 25px;
    grid-gap: 10px;
}

.game-cell {
    height: 150px;
    width: 150px;
}

.x::after {
    font-size: 150px;
}

.o::after {
    font-size: #e06b05;
}
}

@media only screen and (max-width: 540px) {
.container {
    margin: 25px;
    padding: 25px;
}

.game-cell {
    height: 100px;
    width: 100px;
}

.x::after {
    font-size: 100px;
}

.o::after {
    font-size: 125px;
}
}
